/* CSS Document */
@import url(../stylesheet/reset.css);
@import url(style.css);


/*登录界面*/
body{width: 100%;min-width: 1260px;height: 100%;font:  14px/1.5 Helvetica,Arial,"Microsoft YaHei",sans-serif;background: #f0f0f0;}
a{color: inherit;text-decoration: none;}

.container{position: relative; width: 1200px;margin: 0 auto;}
.wrap{}
.header{position: relative;width: 100%;height: 34px;color: #fff;background: #f08300;z-index: 20;}
.header .header-l{float: left;height: 34px; line-height: 34px;overflow: hidden;_zoom:1;}
.header .header-m,.header .header-r{position: relative;float: right; height: 34px;line-height: 34px;_display:inline}
.header .header-r a{color: #fff;}
.header .header-m{margin-right: 30px;}
.header .header-r .sep{margin: 0 5px;font-size: 16px;}


.main{position: relative; width: 100%;margin: 0 auto;background: #f0f0f0;}
.main .badge{margin: 29px 0 22px 0px;}
.main .bg-img{width: 1200px;height: 608px;box-shadow: 0 0 3px rgba(0,0,0,.2);}
.main .b-title{height: 78px; line-height: 78px;font-size: 32px;color: #3e3a39;}
.main .login-box{position: absolute;top: 236px;right: 63px; width: 313px; height: 338px;padding:0 69px 0 51px;border:1px solid #e8e8e8;}
.main .login-box .title{margin: 20px 0 11px 0;color: #3e3e39;font-size: 20px;font-weight: bold;}
.main .login-box p{color: #808080;padding: 6px 0 0 0;}
.main .login-box input{width: 270px;height: 30px; border: 1px solid #ccc;padding-left:6px;padding-right: 35px;vertical-align: middle;line-height: 30px;}
.main .login-box .user{background: url(images/user.jpg) no-repeat right;}
.main .login-box .pwd{background: url(images/pwd.jpg) no-repeat right;}
.main .btn{width: 311px;height: 35px;margin-top: 24px;font-size: 16px; border: 1px solid #f08000;background: #f08000;color: #fff;}
.footer {position:fixed;left: 0;bottom: 0;width: 100%; height: 110px; background: #7e7e7e;margin-top: 50px;}
.footer .footer-t{height: 10px;background: #f08300;}
.footer .footer-tech{height: 100px;line-height: 100px; text-align: center; color: #d3d3d3;font-size: 12px;}

/*政协登录页面*/
.clearfix:after{display: table;content: '';clear:both;}
.m-header{position: relative; width: 100%;}
.m-header .m-header-t{width: 100%;}
.m-header .bg-hua{width: 100%;}
.m-header .m-header-b{position: relative; width: 100%;height: 35px;line-height: 35px;margin-top: -5px;background: url(images/bg-img2.jpg) no-repeat;font-size: 16px;}
.m-header .header-b-l{float: left;margin-left: 324px;height: 35px;line-height: 35px; overflow: hidden;_zoom:1}
.m-header .header-b-m,.m-header .header-b-r{position: relative;float: right;_display:inline;}
.m-header .header-b-m{margin-right: 56px; color: #000;}
.m-header .header-b-r{ margin-right: 3.5%;}
.m-header .header-b-r .r-btn{width: 116px; height: 26px;font-size: 14px;line-height: 1;color: #fff;border: 1px solid #de621e;box-sizing: border-box;border-radius:13.5px;background: url(images/bg-img3.png) center;}

.m-home{ width: 100%;min-width: 1260px; min-height: 760px;_height: 760px; background: #fff;border-top: 2px solid #3a3a3a;box-sizing: border-box;}

.m-home .home-l{float: left; width: 239px;min-height: 760px; background: #3a3a3a;color: #fff;font-size: 16px;overflow: hidden;_zoom:1;}
.m-home .home-nav{width: 100%; height: 41px;z-index: 20;line-height: 41px;}
.m-home .home-nav p{margin:0 20px;line-height: 41px;font-size: 16px;font-weight: bold;}
.m-home .home-nav p::before{float: right;font-size: 20px;}
/*.m-home .home-nav span{float: right;font-size: 22px;}*/
.m-home .home-wrap{width: 100%;background: #626262;margin-top: 2px;}
.m-home .home-wrap .nav-list{width: 100%; display: block;font-size: 14px;}
.m-home .home-wrap .nav-list li{width: 100%;height: 50px;line-height: 50px;border-bottom: 1px dashed #fff;box-sizing: border-box;}
.m-home .home-wrap .nav-list li:last-child{border: none;}
.m-home .home-wrap .nav-list li a{margin-left: 23px;}
.m-home .home-r{position: relative;float: left;min-width: 1000px; overflow: hidden;_zoom:1;}
.m-home .home-title{height: 43px;background:url(images/title.jpg) ;line-height: 40px;padding-left: 100px;color: #fff;font-size: 16px;margin-left: .5%;}
.m-home .home-content{width: 100%;}
.m-home .content-list{width: 99%; display: block;margin-left: 1%;}
.m-home .content-list li{width: 100%;text-indent: 100px;height: 43px;line-height: 43px;border-bottom: 1px dashed #626262;font-size: 16px; color: #212121;box-sizing: border-box;}
.m-home .content-list li:last-child{border: none;}
.m-home .content-list .hour{float: right;margin-right:12%; }
.m-footer {width: 100%; height: 110px; background: #7e7e7e;}
.m-footer .m-footer-t{height: 5px;background: #f08300;}
.m-footer .m-footer-tech{height: 100px;line-height: 100px; text-align: center; color: #d3d3d3;font-size: 12px;}

/*mem-3.html*/
.m-header .header-b-l span{padding-left: 80px;}
.m-home .home-l .h-border{height: 53px;line-height: 53px;border-bottom: 2px solid #626262;box-sizing: border-box;}
.m-home .home-l .h-border span{margin-right: 15px;}
.m-home .magin {padding-left: 8px;}
.m-home .home-r .c-list{width: 100%; background: url(images/c-list.jpg);color: #000;padding-left: 70px;}
.m-home .home-seat{width: 100%;height: 108px;margin-left: .5%;background: #747474;}
.m-home .content-seat{position: relative; width: 100%;height: 24px; margin-left: 70px;padding-top: 14px; font-size: 16px;color: #fff;}
.m-home .content-seat h2{float: left;width: 80px; height: 24px;line-height: 26px;}
.m-home .content-seat a{float: left;font-size: 14px;height: 24px;line-height: 24px;margin-left: 10px;}
.m-home .content-seat a::before{font-size: 16px;margin-right: 10px;}
.m-home .content-b{padding-left: 45px;margin-top: 13px;}
.m-home .content-b .c-btn{height: 26px;margin-left: 25px; border-radius: 3px;background: #f0f0f0;border: 1px solid #f0f0f0;}
.m-home .home-r-content{width: 100%;}
.m-home .home-table{width: 100%;min-height: 560px; margin-left: .5%;}
.m-home .home-table tr{background: #fff;border: 1px solid #ccc;box-sizing: border-box;}
.m-home .home-table tr th {background: #f08000;color: #fff;box-sizing: border-box;vertical-align: middle;line-height: 32px; text-align: center;border-right: 1px solid #ccc;}
.m-home .home-table tr th:nth-of-type(10n+2){border-right: none;}
.m-home .home-table tr td:nth-of-type(10n+2){border-right: none;}
.m-home .home-table tr:nth-of-type(2n+1){background: #ffe7d0;}
.m-home .home-table tr td{height: 32px;line-height: 32px; text-align: center;border-right: 1px solid #ccc;box-sizing: border-box;}
.m-home .home-table tr td .number{padding-right: 30px;}
.m-home .home-prev{position: absolute;top: 42%;left: 239px;width: 15px;height: 56px;background: #ff8712;text-align: center;color: #fff;line-height: 54px;}
.m-home .home-page-l{float: left; width: 50%;}
.m-home .page-num{width: 30px;height: 20px; margin:11px 0 0 0px;border: 1px solid #333; padding: 2px 5px;}
.m-home .p-num{width: 30px;height: 20px; text-align: center;}
.m-home .home-page-l a{margin-left: 30px;height: 40px;}
.icon{font-size: 20px;vertical-align: middle;}
.icon-caret-left,.icon-caret-right{font-size: 24px;padding-top: 5px;}
.m-home .home-page-r{float: left;width:50%;}
.m-home .home-page-r p{float: right;margin-right: 55px;}
.h-last{min-height: 755px; width: 100px;border-bottom: 5px solid #f08300;}


/*建议议案显示*/
input, select, button, textarea, table {vertical-align: middle;font-size: 13px;}
textarea{margin: 3px 0;}
button{height: 23px; line-height: 15px;}
select{margin-left: 5px;}
select:first-child{margin-left: 0;}
.m-popup {position: absolute;z-index: 188;width: 100%;height: auto;}
.mask{display: none;position: absolute;left: 0;top: 0;height: 100%; background: #000;opacity: 0.6;filter: alpha(opacity=60); IEheight: 100%;width: 100%;}
.suggest{position: fixed;width:837px;height: 580px;background: #fff;border: 1px solid #4a4a4a;z-index: 199;}
.m-popup .sug-head{position: relative; font-size: 16px;background-color: #4a4a4a;height: 53px;line-height: 53px;color: #fff;}
.m-popup .sug-head-l{float: left;width: 50%;}
.m-popup .sug-head-l h1{font-size: 16px;margin: 0 25px;}
.m-popup .sug-head-r{float: right;width: 50%;height: 53px;}
.m-popup .sug-head-r p{float: right; margin:  0 25px;padding-right: 40px; font-size: 14px;}
.m-popup .sug-main{ margin: 15px 25px;}
.m-popup .sug-main-nav{position: relative;width: 100%;}
.m-popup .sug-main-nav a{float: left;padding:1px 10px;background: #dedede;margin: 0 10px 15px 0;border-radius: 5px;}
.m-popup .sug-main-content{width: 100%; height: 410px;box-sizing: border-box;}
.m-popup .content-title{width: 100%; height: 40px;background: #f08300;text-align: center;line-height: 40px;color: #fff;font-size: 16px;}
.m-popup .table-list{height: 389px; overflow-x: hidden; overflow-y: scroll;border: 1px solid #f08300;box-sizing: border-box;}
.m-popup .table-list tr{width: 770px;height: 28px; text-align: center;border: 1px solid #f08300;border-left: none;}
.m-popup .table-list tr:first-child{height: 60px;}

.m-popup .table-list tr th{width: 90px; background: #ffe2a3;vertical-align: middle;box-sizing: border-box;}
.m-popup .table-list tr td{width: 165.65px; text-align: center;vertical-align: middle; border: 1px solid #f08300;padding: 0 10px;box-sizing: border-box;}
.m-popup .table-list tr td:first-of-type{text-align: left;padding-left: 28px;}
.m-popup .table-list tr td .attr-value{width: 100px;}
.m-popup .table-list tr td:last-child{border-right: 1px solid #f08300;}
.icon-map-marker::before{padding-right: 15px;font-size: 16px;line-height: 53px;}
.pre-delete{display: inline-block;background: #FFFF66;border: 1px solid #FFFF66;border-radius: 3px;margin: 2px 5px 2px 0;text-align: center;line-height: 16px;box-sizing: border-box;}
.m-popup .table-list tr .update-value a{padding-left: 5px;}

/*信息流程显示*/
.flow{position: fixed;width:764px;left: 22%;top: 180px; height: 600px;background: #fff;border: 1px solid #4a4a4a;z-index: 199;}
.m-popup .flow-head{position: relative; font-size: 16px;background-color: #4a4a4a;height: 53px;line-height: 53px;color: #fff;}
.m-popup .flow-head-l h1{font-size: 16px;margin: 0 25px;}
.m-popup .flow-main-content{width: 100%; height: 455px;margin-top: 35px; box-sizing: border-box;}
.m-popup .flow-main-content tr:first-child{width: 715px; height: 88px;background: #ff8712;overflow: hidden;_zoom:1;color: #fff;}
.m-popup .flow-main-content tr:first-child td{border: 1px solid #d45b01;}
.m-popup .table-flow{width: 715px; height: 455px; margin: 0 25px;}
.m-popup .table-flow tr{height: 61px; border: 1px solid #ff8712;box-sizing: border-box;text-align: center;}
.m-popup .table-flow tr th{font-size: 15px; border: 1px solid #ff8712;background-color: #ffe2a3; vertical-align: middle;box-sizing: border-box;}
.m-popup .table-flow tr td{border: 1px solid #ff8712;vertical-align: middle;box-sizing: border-box;}
.m-popup .table-flow tr:hover {background: #dbdbdb;z-index: -1;}
.m-popup .table-flow tr:first-child:hover{background: #ff8712;}
.x{position: absolute;top: 15px;right: 30px ;width: 20px;height: 20px;background: url(images/x.png) no-repeat;cursor: pointer;}

/*办理单位选择*/
.unit{position: absolute; width: 720px;height: 530px; margin: 10% auto;border: 1px solid #f08300;background: #fff; box-sizing: border-box;border-radius: 6px;overflow: hidden;}
.unit .unit-title{height: 30px;text-align: center;line-height: 30px;font-size: 16px;color: #fff; background-color: #f08300;}
.unit .unit-table{width: 700px;box-sizing: border-box;margin: 10px;}
.unit .unit-table tr{text-align: center;vertical-align: middle;box-sizing: border-box;}
.unit .unit-table tr td{border: 1px solid #f08300;box-sizing: border-box;}
.unit .unit-table .u-btn{width: 50px;margin-top: 20px;}
.unit .unit-table .u-btn:first-child{margin-top: 0;}

.unit .unit-table .unit-nav{width: 300px; height: 400px;text-align: left;margin-top: 17px;font-size: 12px; color: #000;overflow-y: auto;}

.unit .unit-nav .li-1{position: relative;display: inline-block;height: 21px;line-height: 21px;}
.unit .unit-nav .btn-1{float: left; cursor: pointer;width: 12px;height: 14px;margin-top: 4px; text-align: center;background: url(images/jia.png)no-repeat center;border: 1px solid #fff;}
.unit .unit-nav .checkbox{float: left; width: 16px;height: 16px;vertical-align: middle;margin: 3px 2px 0;}
.unit .unit-nav .btn-2{float: left;width: 19px;height: 16px;margin-top: 3px; margin-right: 2px; background: url(images/text.png)center;border: 1px solid #fff;}
.unit .unit-nav .span-1{float: left;height: 19px;margin-top: 2px;line-height: 21px;}

.unit .unit-nav .li-2{display: block; margin-top: -5px;}
.unit .unit-nav .li-lv2{position: relative;display:block;height: 22px;}
.unit .unit-nav .btn-lv2-1{float: left; cursor: pointer;width: 12px;height: 21px;text-align: center;background: url(images/T.png) no-repeat ;border: 1px solid #fff;}
.unit .unit-nav li li:last-of-type .btn-lv2-1{height: 13px;}
.unit .unit-nav .btn-lv2-2{float: left;width: 19px;height: 16px;margin-top: 3px; margin-right: 2px; background: url(images/per.png)center;border: 1px solid #fff;}


.unit .unit-nav ul{margin-left: 20px;vertical-align: middle;}
.unit .unit-nav li .li-lv2{display: none;}
