/* CSS Document */
@import url(reset.css);
@import url(style.css);
body{width: 100%;height: auto; font:  14px/1.5 Helvetica,Arial,"Microsoft YaHei",sans-serif;overflow: hidden}
i,button{cursor: pointer;padding-right: 10px}
a{color: inherit;}
.clearfix::after{display: table;content: '';clear:both;}
/*header*/
.header{position: relative;width: 100%;min-width: 1280px; height: 80px; /*background: linear-gradient(to bottom,#4999d4,#d2e4f8);*/background-color:#f0f0f0;border-bottom: 2px solid #f08300;box-sizing: border-box;}
.header-l{position: relative;float: left;width: 400px;height: 80px;margin-left: 50px; line-height: 80px;}
.header-l img{vertical-align: middle;width: 100%}
.header-r{position: relative;float: right;height: 80px;line-height: 110px; margin-right: 20px; color: #fff;font-size: 13px;z-index: 499;}
.header-r a{padding: 10px 15px;margin-right: 20px;font-size: 14px;}

/*nav*/
.home-nav{position: relative;width: 100%;height: 50px;background-color:#f08300;border-bottom: none;box-sizing: border-box;overflow: hidden;}
.home-nav ul{position: relative;float: left; width: auto;height: 40px;line-height: 40px;margin-top: 10px;margin-left: 210px;}
.home-nav li{cursor: pointer;float: left;padding: 0 20px; text-align: center;font-size: 14px;font-weight: bold;color: #fff;background-color: #f08300; border-bottom: 2px solid #f08300; box-sizing: border-box;}
.home-nav li.li-cur{background-color: #fff;color: #f08300;border-radius: 5px 5px 0 0;}
.li5{line-height: 20px;}
.nav-right{float: right;color: #fff;margin-top: 10px;margin-right: 80px;line-height: 40px;font-size: 13px;}
.nav-right em{color: #f0f;}

/*section*/
section{position: relative;width: 100%;}
aside{width: auto;height: 100%; float: left;padding: 10px 15px; color: #fff;font-size: 14px; background-color: #747474;box-sizing: border-box;}
aside li{text-align: center;width: 180px; margin: 0 -15px; padding: 10px 15px;border-bottom: 1px solid #3a3a3a;box-sizing: border-box;text-align: left}
.left{float: left;}
.main-show{float: left;width: 10px;height: 100%;background-color: #3a3a3a;}
.main-show span{display: block;cursor: pointer;height: 60px;line-height: 60px;margin-top: 35vh; text-align: center;background-color: #f08300;overflow: hidden;color: #fff;}
.section-main{}
.main-navbar{position: relative;width: 100%;height: 31px;margin-top: -1px; background-color: #747474;box-sizing: border-box;z-index: -1;}
.main-navbar h2{ float: left;display: block;width: auto;height: 30px;line-height: 30px;margin-left: 10px;padding-left: 20px;color: #fff;font-size: 14px;}

/*table*/
.blueborder_lower{width: 100%;overflow: hidden;}
.table-box{position: relative;margin: 5px; background-color: #f2f2f2;border: 1px solid #ddd;box-sizing: border-box;overflow: auto;}
.table{position: relative;width: 100%; height: 100%;}
.table tr{max-height: 25px;height: 25px; line-height: 25px; border: 1px solid #ddd;box-sizing: border-box;text-align: center;}
.table tr th{    max-height: 25px;
    color: #fff;
    background-color: #adadad;
    vertical-align: middle;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-left: 0;}
.table tr td,.table tr th,.fht-thead tr th{word-break: keep-all; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.table tr td,.table tr th{white-space: nowrap;padding: 0 15px;}
.table tr td:first-child,.table tr th:first-child{padding: 0 10px;}
.table tr td{border: 1px solid #ddd;box-sizing: border-box;}
.table tr.tr1{background-color: #fff;}
.table tr.tr2{background-color: #f2f2f2;}
.table tr.tr1.tr-light{color: #0273cd; background-color: #f2f7fe;}
.table td.td-name{color: #0273cd;}
.table-page{width: 95%;line-height: 25px;text-align: right;margin-right: 5%;}
.table-page span{margin: 5px;}
.table-page span.span-i{display:inline-block;font-size: 13px;}
.table-page span.span-num{margin: 0 5px;}
.table-page span.float-left{float:left;display: inline-block}
.table tr:hover{background-color: #f2f7fe;color: #0273cd;}
.table tr.hover{background-color: #f2f7fe;color: #0273cd;}
.table tr.highlight{background-color: #f2f7fe;color: #0273cd;}

.container {position: relative;overflow: hidden;width: 100%;height: 100%;background-color: #eee;color: #333;font-size: 13px;transition: height .5s;-mz-transition: height .5s;-webkit-transition: height .5s;-moz-transition: height .5s;}
.container thead {left: 0;top: 0;background-color: aquamarine;}
#genetable_tableData{left: 0;top: 0;padding: 0;width: 100%;height: 100%;position: absolute;overflow: auto;transition: height .5s;-mz-transition: height .5s;-webkit-transition: height .5s;-moz-transition: height .5s;}
/*footer*/
footer{height: 40px;line-height: 40px;color: #fff; background: linear-gradient(to bottom,#747474,#3a3a3a); text-align: center; }
footer span{margin-left: 20px;}
/*popup*/


.popup-search .term{min-width: 470px;min-height: 270px; height: 270px; z-index:200}
.popup-title{position: absolute;top: -15%;right: 0;bottom: 0;left: 0;width: 480px;margin: auto;background-color: #fff;border: 1px solid #b0dbf6;box-sizing: border-box;}
.popup-title .h2{width: 100%;height: 35px;}
.popup-title h2{height: 28px;padding: 0 15px 0 35px;line-height: 28px; color: #084b80; background: url(../images/list-1.png) no-repeat left 10px center;background-color: #b0dbf6;}
.popup-title h2 i{float: right;line-height: 30px;font-size: 14px;}
.popup-search .term .term-msg{position: relative;width: 100%;height: 190px;overflow-y: auto;}
.term .term-msg td{cursor: pointer;display: inline-block;margin:5px 5px 0; padding: 5px 10px;background-color: #eff6fe;border: 1px solid #ddecff;box-sizing: border-box; border-radius: 3px;overflow: hidden;}
.term-msg td.light{background-color: #dfecfc;border: 1px solid #a1cafb;;}
.term-b{position: absolute;left: 0; bottom: 0;width: 100%; height: 40px;text-align: center; vertical-align: middle;line-height: 40px;background-color: #fff; border-top: 1px solid #ddd;box-sizing: border-box;}
.term-b button{height: 24px;vertical-align: middle;line-height: 24px; margin-left: 20px;padding: 0 15px; background-color: #7bb5e7;border: 1px solid #084b80;border-radius: 3px;overflow: hidden;}
.popup-search .term .term-b button:first-child{margin-left: 0;}

.add-duty-box{
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    width: 50%;
    left:25%;
    height: 50%;
    top:25%;
    padding: 15px;
}
.add-duty-box .duty-value-container{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
.add-duty-button{
    width: 100px;
}























